#student-courses{
    > div[horizontal-scrollable-tab]{
        padding: 2%;
    }
}
#student-courses-indicators{
    background-color: black;
    display: table;
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
}
.courses-page{
    display: none;
}

.course-schedule{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 10pt;
    font-weight: bold;
}

.schedule-time-space{
    padding: 5px;
}